body {
    background-color: #F0F0F0;
}

nav {
    background-color: #F0F0F0;
}

h1,h3{
    font-family: 'Anton', sans-serif;
    font-weight: bold;
}

/*circle labels and their properties*/
.labelOne{
    color: white;
    font-size: small;
    position: relative;
    top: 25px;
    left: 10px;
}

.labelTwo{
    color: white;
    font-size: small;
    position: relative;
    top: 25px;
    left: 13px;
}

.labelThree{
    color: white;
    font-size: small;
    position: relative;
    top: 25px;
    left: 14px;
}

.labelFour{
    color: white;
    font-size: small;
    position: relative;
    top: 25px;
    left: 25px;
}

/*circle containers and their properties*/
.dot{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-sizing: content-box;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
}

.dotOne {
    height: 85px;
    width: 85px;
    border-radius: 50%;
    position: relative;
    top: 6px;
    background-color: #E6563B;
}

.dotTwo {
    height: 85px;
    width: 85px;
    border-radius: 50%;
    position: relative;
    top: 6px;
    background-color: #EB9D3A;
}

.dotThree {
    height: 85px;
    width: 85px;
    border-radius: 50%;
    position: relative;
    top: 6px;
    background-color: #7CB06C;
}

.dotFour {
    height: 85px;
    width: 85px;
    border-radius: 50%;
    position: relative;
    top: 6px;
    background-color: #00AbA9;
}


.bigP img{
    width: 50%;
    height: 50%;
}

.imgTitle {
    font-size: small;
}

/*small circle labels under img properties */
.labelOneS{
    color: black;
    font-size: small;
    position: relative;
    bottom: 5px;
    left: 4px;

}

.labelTwoS{
    color: black;
    font-size: small;
    position: relative;
    bottom: 5px;
    left: 4px;

}

.labelThreeS{
    color: black;
    font-size: small;
    position: relative;
    bottom: 5px;
    left: 4px;

}

.labelFourS{
    color: black;
    font-size: small;
    position: relative;
    bottom: 5px;
    left: 4px;

}

/*small circle containers underneath img properties*/
.dotOneS {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    position: relative;
    top: 6px;
    background-color: #E6563B;
    margin: 0 3px 3px 3px;
}

.dotTwoS {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    position: relative;
    top: 6px;
    background-color: #EB9D3A;
    margin: 0 3px 3px 3px;
}

.dotThreeS {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    position: relative;
    top: 6px;
    background-color: #7CB06C;
    margin: 0 3px 3px 3px;
}

.dotFourS {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    position: relative;
    top: 6px;
    background-color: #00AbA9;
    margin: 0 3px 3px 3px;
}

.smallP img{
    width: 25%;
    height: 25%;
}

.container{
    display: flex;

}


