.dot{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-sizing: content-box;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
}

.dotOne {
    height: 85px;
    width: 85px;
    border-radius: 50%;
    position: relative;
    top: 6px;
    background-color: #E6563B;
}

.dotTwo {
    height: 85px;
    width: 85px;
    border-radius: 50%;
    position: relative;
    top: 6px;
    background-color: #EB9D3A;
}

.dotThree {
    height: 85px;
    width: 85px;
    border-radius: 50%;
    position: relative;
    top: 6px;
    background-color: #7CB06C;
}

.dotFour {
    height: 85px;
    width: 85px;
    border-radius: 50%;
    position: relative;
    top: 6px;
    background-color: #00AbA9;
}

.bigP img{
    width: 50%;
    height: 50%;
}

.smallP img{
    width: 25%;
    height: 25%;
}